.navLink {
  gap: 20px;
  /* justify-content: center !important; */
  width: 100%;
  padding-left: 20px !important;
}

.navLink a {
  font-size: 14px;
}

.logo {
  cursor: pointer;
}

.last {
  justify-content: flex-end;
  white-space: nowrap;
}

.customIcon svg {
  color: var(--theme-white);
  font-size: 20px;
}

.dropdownBtn button {
  color: var(--theme-white) !important;
  font-size: 14px;
  font-family: var(--sans-regular) !important;
}

.soon {
  background: var(--bgcolor-disabled) !important;
  padding: 0px 5px;
  font-size: 12px;
  display: inline-block;
  margin-left: 3px;
  color: var(--color-disabled) !important;
}

.navLink .disabledLink {
  color: var(--color-disabled) !important;
}

.uploadButton button {
  border-radius: 30px !important;
  width: 200px;
  height: 50px;
}

.transparent span {
  background-color: #978036 !important;
  color: #c8af66 !important;
}

@media screen and (max-width: 991px) {
  .navLink {
    gap: 10px;
  }

  .last {
    justify-content: flex-start;
  }

  .navBarCustom {
    display: flex;
    width: auto !important;
    flex-direction: row !important;
    gap: 20px;
  }

  .navbarCollapse {
    position: absolute;
    border: 1px solid #a47c07;
    top: 60px;
    right: 0px;
    border-radius: 15px;
    width: 145px;
    background: #1B1B1B;
  }
}

.navBarCustom {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

@media screen and (max-width: 570px) {
  .last .customIcon {
    display: none !important;
  }

  .uploadButton button {
    border-radius: 15px !important;
    width: 120px !important;
    height: 40px !important;
    padding: 0 0 !important;
  }

  .navbarCollapse {

    top: 45px;
  }
}