/* .navHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
} */

.navHead h1 {
  font-size: 40px !important;
}

.topCustomTab {
  padding-left: 2px !important;
  display: flex;
  justify-content: center;
}

.sortBtn button {
  text-transform: uppercase;
  padding: 6px 16px !important;
  width: 120px;
  border-radius: 60px !important;
  color: var(--theme-white) !important;
  height: 34px;
  font-size: 12px !important;
}

.topHead {
  justify-content: space-between;
  margin-bottom: 30px;
}

.dropdownBtn {
  outline: none;
  border: none;
}

.dropdownBtn button::after {
  display: none !important;
}

/* 
.dropdownBtn .dropdown-item {
  background-color: rebeccapurple !important;
}

.dropdownBtn .dropdown-item.active,
.dropdown-item:active {
  background-color: white !important;
  color: black !important;
} */
.dropdownBtn .filterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownBtn .dropdownMenu {
  max-width: 120px;
  min-width: 120px;
  right: 12px !important;
  background-color: var(--navbar-dark-1) !important;
  transform: translate(0px, 48px) !important;
}

.dropdownBtn .filterItem {
  text-transform: uppercase;
  font-size: 12px !important;
  color: var(--color-white) !important;
  padding: 8px;
  background-color: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownBtn .dropdownMenu .filterItem:active,
.dropdownBtn .dropdownMenu .filterItem:focus,
.dropdownBtn .dropdownMenu .filterItem:hover,
.dropdownBtn .dropdownMenu .filterItem:visited {
  text-decoration: underline !important;
  background-color: var(--transparent) !important;
  text-underline-offset: 8px;
}

.dropdownBtn .filterItem svg {
  color: var(--color-white);
  font-size: 14px;
  margin-left: 3px;
}

.infiniteScrollContainer {
  overflow-x: hidden !important;
  padding: 6px 6px 0 6px;
}

.topCustomTab::-webkit-scrollbar {
  height: 3px;
  cursor: pointer !important;
}

.topCustomTab::-webkit-scrollbar-track {
  box-shadow: transparent;
  cursor: pointer !important;
}

.topCustomTab::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 10px;
  cursor: pointer !important;
}


@media screen and (max-width: 768px) {
  /* .navHead {
    flex-wrap: wrap;
    gap: 1rem !important;
  } */

  .topHead {
    display: block !important;
    margin-top: 40px !important;
    margin-right: 10px !important;
  }

  .topHead>.topCustomCol {
    justify-content: flex-start !important;
    padding: 0 !important;
    margin-top: 10px !important;
  }


  .topCustomTab {
    margin: 0 10px !important;
  }

  .navHead h1 {
    font-size: 30px !important;
    line-height: 16px !important;
  }

  .sortBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .topCustomTab {
    overflow-x: scroll;
    justify-content: flex-start !important;
  }
}