
.hero{
  width: 100vw;
    height: 100vh;
 background-image:url('/public/img/hero.png');
}
.HeroContent{
  width:80vw;
  height: auto;
  position: relative;
}
.HeroPara{
  font-size: 68px;
  color: #f8f8f8;
  font-family: var(--manrope-bold);

}
.SubPara{
  width: 20vw;
  font-size: 16px;
  font-family: var( --sans-regular);
  position: absolute;
  right: 15%;
  bottom:30%
}
.heroIcons img {
  margin-right: 10px;
}
.heroIcons span {
  color: var(--theme-white);
  font-size: 14px;
  font-family: var(--sans-medium);
}
.HeroSubPara::before{
   content: "";
    display: block;
    width: 5vw;
    height: .6px;
    background: #f8f8f8;
    left: -20%;
    top: 50%;
    position: absolute;
  transform: rotate(90deg);
}
.scrollBtn{
  position: absolute;
bottom:-70px
}