/* slider css */

.wrapper{
    text-align: center;
    color: #fff;
    position: relative;
}
.wrapper p{
    position: absolute;
    top: 30px;
    right: 15%;
    width: 177px;
    text-align: left;
    background: var(--theme-white);
    font-size: 14px;
    padding: 5px;
    color: var(--theme-black);
    font-family: var(--sans-regular) !important;
}
.content{
    margin: 20px 0;
}
.wrapper img{
    height: 370px;
    object-fit: cover;
}
.content h3{
    font-weight: 500;
font-size: 18px;
line-height: 27px;
text-indent: 2px;
font-feature-settings: 'liga' off;
color: #FFFFFF;
}
.content h4{
    font-weight: 400;
font-size: 18px;
line-height: 27px;
text-indent: 2px;
font-feature-settings: 'liga' off;
color: #FFFFFF;
}