.CustomContainer {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(/public/img/Creativebackground.png);
  background-size: cover;
  position: relative;
  top: -70px;

}


.heroHeading {
  position: relative;
  margin-top: 18.3rem;
  padding: 0 15px;
}

.heroHeading h1 {
  font-size: 64px;
  line-height: 78px;
  font-family: var(--manrope-bold) !important;
  letter-spacing: .2px;
  margin-bottom: 3.4rem !important;
  white-space: nowrap;
}

.heroHeading .spanHead {
  position: absolute;
  padding-left: 10px;
  right: 13%;
  top: 80px;
  font-size: 14px;
  font-family: var(--sans-regular);
  font-weight: 400;
  line-height: 21px;
}

.spanHead::before {
  content: "";
  position: absolute;
  border-left: 2px solid white;
  height: 100%;
  left: -20px;
  opacity: 0.8;
}

.heroIcons a {
  background-color: var(--theme-white) !important;
  color: black !important;
  border: none;
  width: 212px;
  height: 48px;
}

.heroIcons img {
  margin-right: 10px;
  opacity: 0.5;
}

.heroIcons span {
  display: flex;
}

.heroIcons span h6 {
  color: var(--theme-white);
  font-size: 14px;
  font-family: var(--sans-medium);
  line-height: 18px;
  margin: 17px 0px 0 0;
}

.herosectionImg {
  position: absolute;
  bottom: 30px;
  left: 49.9%;
  cursor: pointer;
}


@media screen and (max-width:1330px) {
  .heroHeading h1 {
    font-size: 56px
  }

  .heroHeading .spanHead {
    right: 19%;
  }

  .heroIcons {
    margin-top: 20px;
  }

  .heroHeading {
    position: relative;
    margin-top: 15.3rem;
    padding: 0 15px;
  }
}

@media screen and (max-width:1190px) {
  .heroHeading h1 {
    font-size: 56px
  }

}

@media screen and (max-width:1150px) {
  .heroHeading {
    margin-top: 13rem;
  }

  .heroHeading h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px !important;
  }

  .heroHeading .spanHead {
    position: unset;
  }

  .spanHead::before {
    height: 0%;
    position: unset;
    border: none;
    left: 0
  }

  .heroIcons {
    margin-top: 50px;
  }
}

@media screen and (max-width:992px) {
  .heroHeading h1 {
    font-size: 38px;
    line-height: 54px;
  }
}

@media screen and (max-width: 768px) {
  .heroHeading h1 {
    font-size: 28px !important;
    line-height: 35px !important;
  }
}

@media screen and (max-width: 560px) {
  .heroHeading {
    margin-top: 11rem;
  }

  .heroHeading h1 {
    font-size: 18px !important;
    line-height: 32px !important;
  }

  .heroIcons {
    margin-top: 45px;
  }

  .heroIcons a {
    width: 115px;
    padding: 12px 2px !important;
    white-space: nowrap;
    height: 40px;
  }

}