/* events */
.eventWrapper {
  position: relative;
  margin-bottom: 20px;
  transition: all 0.2s ease-in;
}
.eventWrapper:hover {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(214, 214, 214, 0.3);
  -moz-box-shadow: 0px 0px 10px 1px rgba(214, 214, 214, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(214, 214, 214, 0.3);
}
.eventWrapper .image img {
  width: 100%;
  /* height: 271px; */
  height: 310px;
  object-fit: cover;
}
.eventWrapper .content {
  padding: 10px 0 0;
  border: 1px solid var(--border-color);
}
.eventWrapper .content h3 {
  color: var(--theme-white);
  font-size: 20px;
}

.eventWrapper span {
  color: var(--theme-white);
  font-size: 12px;
}
.eventWrapper svg {
  margin-right: 5px;
}
.eventWrapper .title {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--theme-white-light) !important;
}
/* events */

.borderRight {
  border-right: 2px solid var(--border-color);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.borderRight:last-child {
  border-right: 0;
}

.galleryBtn button {
  font-size: 12px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(52, 52, 52, 0.3) !important;
  /* backdrop-filter: blur(16px); */
  color: #e8e8e8 !important;
  z-index: 200;
  padding: 0.75rem 1.5rem !important;
}
.galleryBtn button:hover {
  opacity: 1 !important;
}
.gridDiv {
  display: grid !important;
  grid-template-columns: 26% 33% 40%;
}

.title {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--theme-white-light) !important;
}
.date,
.location,
.entry {
  text-transform: uppercase;
  font-size: 11px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
  display: block;
}
.eventWrapper .imageContainer {
  position: relative;
  overflow: hidden;
}

.eventWrapper .imageContainer .eventImageOverlay {
  background: rgba(255, 255, 255, 0.4);
  height: 310px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  opacity: 1;
  /* opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; */
}

/* .eventWrapper:hover .eventImageOverlay {
  opacity: 1;
} */
.pastContent {
  display: none;
}
.eventWrapper .imageContainer .pastContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 1;
}
