.imgSlider {
  position: relative;
}

.imgSlider>div {
  height: 517px;
}

.topHead h1 {
  font-size: 40px !important;
}

.imgSlider img {
  width: 100%;
  /* height: 560px; */
  height: 100%;
  object-fit: cover;
}

.imgSlider .swiperSlide button {
  position: absolute;
  top: 40px;
  right: 60px;
  padding: 10px 20px !important;
  opacity: 0;
  background-color: var(--theme-black) !important;
  color: var(--theme-white) !important;
}

.imgSlider .swiperSlide:hover button {
  opacity: 1;
}

/* form css */

.formGroup {
  width: 100%;
  margin-bottom: 12px !important;
}

.formGroup label {
  font-size: 14px;
  color: var(--theme-white);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.formGroup input {
  background: var(--theme-black-light);
  border: 0;
  border-radius: 0;
  height: 25px;
  color: var(--theme-white);
  font-size: 12px;
}

.formGroup select {
  border: 0;
  border-radius: 0;
  height: 30px;
  color: var(--theme-white);
  font-size: 12px;
  appearance: auto;
  background: var(--theme-black-light);
}

.formGroup select option {
  background-color: var(--theme-white);
}

.formGroup select:focus {
  box-shadow: none;
}

.formGroup select option {
  color: var(--theme-black);
}

.formGroup textarea {
  font-size: 12px;
}

.formGroup .dateTimePicker {
  flex: 1;
  margin-left: 4px;
}

.formGroup .dateTimePicker span {
  color: var(--color-black) !important;
}

label {
  margin-bottom: 0;
}

svg {
  color: var(--theme-white);
  stroke: var(--theme-white);
}

button:hover svg,
button:focus svg {
  stroke: var(--theme-white) !important;
}

.formGroup textarea {
  background: rgba(109, 109, 109, 0.5);
  border: 0;
  border-radius: 0;
  resize: none;
  color: var(--theme-white) !important;
}

.textarea1 {
  height: 110px;
}

.textarea2 {
  height: 80px;
}

/* .uploadText {
  color: var(--theme-white-light) !important;
} */

.formGroup input:focus {
  box-shadow: none;
  background: var(--theme-black-light);
}

.formGroup textarea:focus {
  box-shadow: none;
  background: rgba(109, 109, 109, 0.5);
}

.uploadSection p {
  font-family: var(--manrope-bold) !important;
  color: var(--grey-color);
  font-size: 15px;
}

.uploadDiv {
  position: relative;
}

.uploadDiv input {
  position: absolute;
  width: 100%;
  opacity: 0;
  color: var(--color-white-light) !important;
}

.uploadDiv p {
  margin-bottom: 0;
}

.upload-placeholder {
  min-height: 517px;
  background-color: var(--theme-black);
  border: 2px solid var(--border-color);
}

.radioBtn input {
  height: 1rem !important;
  font-size: 100% !important;
}

.radioBtn input:focus {
  background-color: var(--theme-black-light) !important;
}

.radioBtn input:checked {
  background-color: var(--theme-black-light) !important;
  border-color: var(--theme-black-light) !important;
}

.headingBorder {
  border-bottom: 1.5px solid var(--border-color);
  padding: 6px 0;
  margin-bottom: 6px;
}

.formGroup .priceContainer {
  flex: 1;
}

.uploadSection .footer {
  font-family: var(--sans-regular) !important;
  margin: 38px 0 23px 0;
}

.uploadSection .footer ol {
  font-family: var(--sans-regular) !important;
  font-size: 16px;
}

.uploadSection .footer ol {
  padding-left: 0;
  list-style: inside decimal;
}

.uploadSection .footer ol li {
  font-weight: 400 !important;
}

.uploadSection .footer .contactInfo p {
  font-family: var(--sans-regular) !important;
}

.uploadRow {
  padding: 0 0 30px 0;
}

@media screen and (max-width: 768px) {

  .topHead h1 {
    font-size: 30px !important;
    line-height: 30px !important;
  }
}

/* label */

/* .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--theme-black-light);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--theme-black-light);
}
input:checked + .slider::before{
  background-color: var(--theme-white-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--theme-black-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */