.footerSection {
  background: #1b1b1b;
}

.footerSection h3 {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--sans-medium);
  text-transform: uppercase;
  color: var(--theme-white);
}

.footerSection ul {
  padding-left: 0;
  list-style: none;
}

.footerSection ul li {
  color: var(--theme-white-light);
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.footerSection ul li a {
  color: var(--theme-white-light) !important;
}

.copyRight p {
  margin-bottom: 0;
}

/* form */

.formGroup {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background: var(--theme-black);
}

.formGroup label {
  color: var(--theme-white);
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--sans-regular);
}

.formGroup input {
  background: none;
  border: 0;
}

.formGroup .emailInput {
  padding: 0 0.75rem 0.3rem 0.75rem !important;
}

.formGroup input:focus {
  box-shadow: none;
  background: none;
}

.formGroup input:-internal-autofill-selected {
  background-color: unset !important;
}

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
  }
}