/* Google sans font */

@font-face {
  font-family: "Google sans Regular";
  src: url(/public/fonts/google-sans/ProductSans-Regular.ttf);
}
@font-face {
  font-family: "Google sans Medium";
  src: url(/public/fonts/google-sans/ProductSans-Medium.ttf);
}
@font-face {
  font-family: "Google sans Bold";
  src: url(/public/fonts/google-sans/ProductSans-Bold.ttf);
}

/* manrope font */
@font-face {
  font-family: "Manrope Regular";
  src: url(/public/fonts/manrope/Manrope-Regular.ttf);
}
@font-face {
  font-family: "Manrope Medium";
  src: url(/public/fonts/manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Manrope Bold";
  src: url(/public/fonts/manrope/Manrope-Bold.ttf);
}
@font-face {
  font-family: "Manrope SemiBold";
  src: url(/public/fonts/manrope/Manrope-SemiBold.ttf);
}

:root {
  --theme-white: #f8f8f8;
  --theme-black: #252525;
  --theme-white-light: #a6a6a6;
  --theme-black-light: #343434;
  --border-color: #575757;
  --color-black: #000000;
  --color-white: #ffffff;
  --sans-regular: "Google sans Regular";
  --sans-medium: "Google sans Medium";
  --sans-bold: "Google sans Bold";
  --manrope-regular: "Manrope Regular";
  --manrope-medium: "Manrope Medium";
  --manrope-bold: "Manrope Bold";
  --manrope-semibold: "Manrope SemiBold";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-black) !important;
  font-family: var(--sans-regular) !important;
  /* background-image: url(/public/img/bg.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container {
  max-width: 1192px !important;
} */

.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.section {
  padding: 40px 0;
  position: relative;
}
.navbar-light .navbar-toggler {
  color: var(--theme-white) !important;
}
.nav_dropdown .dropdown-menu a {
  color: #000 !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 2px;
}
.swiper-button-prev {
  background: var(--theme-white);
  backdrop-filter: blur(12px);
}
.swiper-button-next {
  background: var(--theme-white);
  backdrop-filter: blur(12px);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::before {
  background-image: url(/public/img/back.svg);
}
.swiper-button-next::before {
  background-image: url(/public/img/next.svg);
}
.swiper-pagination-bullet {
  background: var(--theme-white) !important;
  opacity: 1 !important;
  border-radius: 2px !important;
}
.swiper-pagination-bullet-active {
  background: var(--theme-black) !important;
  opacity: 1 !important;
}
svg {
  color: var(--theme-white);
  font-size: 20px;
}
a {
  text-decoration: none !important;
  color: var(--theme-white) !important;
}
span {
  color: var(--theme-white);
}
input,
textarea {
  color: var(--theme-white) !important;
}
input:focus,
textarea:focus,
button:focus {
  box-shadow: none !important;
}
.gallery-border {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.border-b {
  border-bottom: 2px solid var(--border-color);
  padding: 10px 0;
}
.customTab {
  border-bottom: 0 !important;
}
.customTab li.nav-item {
  margin-right: 20px;
}
.customTab .nav-link.active {
  background-color: unset !important;
  border: 0;
  color: var(--theme-white) !important;
  border-bottom: 1px solid var(--theme-white) !important;
}
.customTab .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  color: var(--theme-white-light);
  display: inline-block;
  padding: 0 !important;
  border: 0 !important;
}
.customTab .nav-link:focus,
.customTab .nav-link:hover {
  color: var(--theme-white);
}
.react-datetime-picker__wrapper {
  background: #343434;
  border: 0 !important;
}
.react-datetime-picker {
  /* width: 100%; */
  flex: 1;
}
:focus-visible {
  outline: none !important;
}
.react-datetime-picker__wrapper span {
  color: var(--theme-white);
}
.react-calendar span,
.react-calendar__month-view__weekdays {
  color: var(--theme-black);
}
.dropdown-item {
  color: var(--theme-black) !important;
}
.event-single-slider .carousel-control-prev,
.event-single-slider .carousel-control-next {
  display: none;
}
.eventWrapper:hover .carousel-control-prev,
.eventWrapper:hover .carousel-control-next {
  display: flex !important;
}

.hide-gallery-btn {
  display: none;
}

.eventWrapper:hover .show-gallery-btn {
  display: block !important;
}
.backgroundVideo {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 0;
}

.backgroundImage {
  background-image: url(/public/img/bg.svg); 
}
.customGridClass .title {
  font-size: 12px !important;
}
.customGridClass .date,
.customGridClass .location,
.customGridClass .entry {
  font-size: 12px !important;
}

.swiperSliderHome .swiper-slide {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.swiper-slide.swiper-slide-active {
  position: relative;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.15)
    scaleY(1.15);
  background: #232323;
  z-index: 1;
}
.transform-none .swiper-slide-active {
  transform: none !important;
}

.carousel-control-prev-icon {
  background-image: url(/public/img/back.svg) !important;
}
.carousel-control-next-icon {
  background-image: url(/public/img/next.svg) !important;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px !important;
  height: 40px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto !important;
  background-color: var(--theme-white) !important;
  opacity: 0.5;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 6px !important;
  opacity: 1 !important;
  background-color: var(--theme-white) !important;
}
.carousel-indicators .active {
  background-color: var(--theme-black) !important;
}

.no-data {
  text-align: center;
  padding: 90px 0;
  color: #fff;
  font-size: 30px;
}

.infinite-scroll-component {
  overflow-x: hidden !important;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 20px 0;
  }
}

.next-btn,
.prev-btn {
  z-index: 20;
  position: absolute;
  background-color: var(--theme-white);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35%;
  transform: translateY(-35%);
  text-align: center;
  background-position: center;
  display: none;
  cursor: pointer;
}
.prev-btn {
  left: 20px;
}
.next-btn {
  right: 20px;
}
.prev-btn {
  background-image: url(/public/img/back.svg);
}
.next-btn {
  background-image: url(/public/img/next.svg);
}

.swiper-slide-active .prev-btn,
.swiper-slide-active .next-btn {
  display: block;
}
/* .swiper-slide .carousel-indicators {
  visibility: hidden;
}
.swiper-slide-active .carousel-indicators {
  visibility: visible;
} */

.no-selection {
  user-select: none;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.swiper-slider-no-zoom .swiper-slide.swiper-slide-active {
  transform: none !important;
}

.text-button {
  background: none;
  outline: none;
  border: 0;
}
.text-button:hover {
  cursor: pointer;
}

.lighten-container:hover img {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -moz-filter: brightness(1.1);
}
.bg-transparent{
  background-image:url('/public/img/hero.png');
}
